<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CONSUMER_SECRET</key>
	<string>WT6Keabt2pv9FjeE2idFDrtbaWRVmRp89yyiYc3wRoLdbe6wOz</string>
	<key>CONSUMER_KEY</key>
	<string>qcVuyuucvf3MJe6Vv5lQxrQ2H</string>
</dict>
</plist>
